@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");

@plugin "tailwind-scrollbar-hide";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
    font-family: "Amiri", serif;
}

body {
    font-family: "Amiri", serif;
}

:root {
    --highlight: oklch(0.852 0.199 91.936);
}

.dark {
    --highlight: oklch(0.852 0.199 91.936);
}

@theme inline {
    --color-highlight: var(--highlight);
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
} */

